:root {
  --primary: #3d3d3d;
  --primary-rgba: rgba(61,61,61, 0.55);
  --lightGray: #e1e1e1;
  --backgroundColor: #f7f7f7;
}
::selection {
  background-color: var(--lightGray);
}
* {
  box-sizing: border-box;
}
#root {
  min-width: 100%;
}
.App {
  margin: 0 15px;
  font-family: 'Rubik', sans-serif;
  font-size: 1.375em;

  display: flex;
  flex-direction: column;
  flex: 1;

  color: var(--primary);
  background-color: var(--background-color);
  font-weight: 300;
  line-height: 1.5;
}
@media (min-width: 790px) {
  .App {
    margin: 0 40px;
  }
}
.App h1, .App h2, .App h3 .App h4 {
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1.2;
}
@media (min-width: 790px) {
  .App h1, .App h2, .App h3 .App h4 {
    line-height: normal;
  }
}
.primary-nav {
  display: none;
  justify-content: flex-start;
  height: 90px;
  align-items: flex-start;
  margin-top: 20px;
}
.primary-nav .nav-item {
  list-style: none;
}
@media (min-width: 790px) {
  .primary-nav {
    justify-content: flex-end;
    height: 50px;
    align-items: center;
  }
  .primary-nav .nav-item {
    list-style: none;
    margin-left: 20px;
  }
}

.logo-section {
  display: flex;
  align-items: center;
}
@media (min-width: 790px) {
  .logo-section {
    display: flex;
    align-items: center;
    height: 80px;
  }
}
.logo-section img {
  margin: 4px 20px 0 0;
}
.logo-section a, .logo-section a:hover, .logo-section a:active, .logo-section a:visited {
  background: none;
}
.logo-section h1 {
  margin: 0;
}
#logo {
  width: 30px;
  height: 30px;
}
#wordmark {
  height: 20px;
  margin-bottom: 8px;
  align-self: center;
}
@media (min-width: 790px) {
  #logo {
    width: 40px;
    height: 40px;
  }
  #wordmark {
    height: 30px;
  }
}

.main-section {
  width: 100%;
  margin-top: 30px;
}
@media (min-width: 790px) {
  .main-section {
    width: 790px;
    margin-top: 40px;
  }
}

ul li {
  margin: 15px 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}
span.bold {
  font-weight: bold;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
  fill: inherit;
  background-image: linear-gradient(180deg,transparent 95%, var(--primary) 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
}
a:hover,
a:active {
  color: inherit;
  background-image: linear-gradient(180deg,transparent 95%, var(--primary) 0);
  background-size: 100% 100%;
}
.section{
  margin-top: 40px;
}
@media (min-width: 790px) {
  .section.-paragraph {
    max-width: 790px;
  }
}

footer {
  min-height: 70px;
  border-top: 3px solid #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
}

/* Calculator-specific styles*/
.Calculator {

}
@media (min-width: 790px) {
  .Calculator  {

  }
}
.input-wrapper {
  margin: 10px 0 10px 0;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
}
.input-group {
  display: flex;
  flex-direction: column;
}
.input-assist {
  font-size: 0.6em;
  margin-left: 3px;
}
.calculator-results {
  font-size: 1.475rem;
}
@media (min-width: 790px) {
  .input-wrapper {
    margin: 30px 0 20px 0;
    width: 300px;
    margin-right: 20px;
  }
  .input-group {
    display: flex;
    flex-direction: row;
  }
  .calculator-results {
    font-size: 1.875rem;
  }
}
